
<h2> Create a New Landmark: </h2> 

<form action = "/figures" method = "POST"> 

  <label>Landmark Name</label> <br> 
  <input type = "text" name = "landmark[name]" id = "landmark_name"> <br> 
  <label>Year Completed: </label> <br> 
  <input type = "text" name = "landmark[year_completed]" id = "year_completed"><br> 
  <input type = "submit" value = "Create Landmark"> 
</form> 




